<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/envy_clothings?useSSL=false&amp;allowPublicKeyRetrieval=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">FHMNx35888#</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>

        <mapping class="lk.jiat.envy.entity.City"/>
        <mapping class="lk.jiat.envy.entity.Address"/>
        <mapping class="lk.jiat.envy.entity.Status"/>
        <mapping class="lk.jiat.envy.entity.User"/>
        <mapping class="lk.jiat.envy.entity.Admin"/>
        <mapping class="lk.jiat.envy.entity.Brand"/>
        <mapping class="lk.jiat.envy.entity.Model"/>
        <mapping class="lk.jiat.envy.entity.Color"/>
        <mapping class="lk.jiat.envy.entity.Category"/>
        <mapping class="lk.jiat.envy.entity.Size"/>
        <mapping class="lk.jiat.envy.entity.Product"/>
        <mapping class="lk.jiat.envy.entity.DeliveryType"/>
        <mapping class="lk.jiat.envy.entity.Order"/>
        <mapping class="lk.jiat.envy.entity.OrderItem"/>
        <mapping class="lk.jiat.envy.entity.Discount"/>
        <mapping class="lk.jiat.envy.entity.Stock"/>
        <mapping class="lk.jiat.envy.entity.Cart"/>
        <mapping class="lk.jiat.envy.entity.WishList"/>
        <mapping class="lk.jiat.envy.entity.PaymentType"/>
        <mapping class="lk.jiat.envy.entity.Delivery"/>
        <mapping class="lk.jiat.envy.entity.Message"/>
    </session-factory>
</hibernate-configuration>